.task-card {
  @apply text-gray-700 bg-white p-6 pt-8 drop-shadow-md relative overflow-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  p {
    @apply font-light text-gray-300;
  }

  .drag-indicator {
    @apply hidden items-center justify-center w-full absolute left-0 top-0 h-8 cursor-move;

    .indicator {
      @apply bg-gray-100 rounded-sm top-1;
      width: 50px;
      height: 4px;
    }
  }

  &:hover .drag-indicator {
    display: flex;
  }
}
