:root {
  --color-background: #f9f9fd;

  --color-primary-50: #e8eafc;
  --color-primary-100: #c2c7fb;
  --color-primary-200: #6b68ec;
  --color-primary: #4c49ca;
  --color-primary-700: #363485;
  --color-primary-900: #252448;

  --color-success-50: #dbf8d3;
  --color-success-100: #bfffad;
  --color-success-200: #7de261;
  --color-success: #54c934;
  --color-success-700: #2a9e0a;
  --color-success-900: #196405;

  --color-danger-50: #ffeae9;
  --color-danger-100: #f8a4a0;
  --color-danger-200: #ed5850;
  --color-danger: #cc352d;
  --color-danger-700: #a42019;
  --color-danger-900: #650904;

  --color-gray-50: #f4f4f4;
  --color-gray-100: #eaeaf1;
  --color-gray-150: #dddfed;
  --color-gray-200: #cdd0e4;
  --color-gray-300: #818197;
  --color-gray: #46465c;
  --color-gray-700: #28283b;
  --color-gray-900: #0e0d27;
}
